@import "../variable";


// BUTTON ICON
.elementor-button-icon svg {
    width: auto;
    height: auto;

    @media (max-width: $tablet-down) {}

    @media (max-width: $phone-down) {}
}

.elementor-widget-button {

    &.childtheme-button-primary {
        .elementor-button {
            background-color: $primary;
            border-radius: 0;
            border: 2px solid $primary;

            .elementor-button-text {
                font-size: 18px;
                transition: all ease 0.4s;
                font-weight: 600;
            }

            &:hover {
                background-color: transparent;
             
                .elementor-button-text {
                    color: $primary;
                }
            }
        }
    }

    &.childtheme-button-secondary {
        .elementor-button {
            background-color: $secondary;
        }
    }

    &.childtheme-button-link {
        .elementor-button {
            background-color: transparent;
            color: $primary;
        }
    }
}
