// IE Media Query
// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { }

// Edge Media Query
// @supports (-ms-ime-align:auto) { }

// Edge Media Query
// @media (min-width: $desktop-up) {} 
// @media (max-width: $tablet-down) {}
// @media (min-width: $tablet-up) {}
// @media (max-width: $phone-down) {}


html,
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: inherit;
}

.elementor-widget-od-image {
    picture {
        display: block;
        image-rendering: -webkit-optimize-contrast;

        img {
            vertical-align: bottom;
        }
    }
}

// für Shortcode [stretched_link] im Blogbereich
.elementor-widget-shortcode {
    position: initial;
}

.od-stretched-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

// KONTAKTFORM
.od-contactform {
    // Upload
    .elementor-upload-field {
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
    }
    .elementor-upload-field:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='18'%3E%3Cpath fill='%23687D97' d='M13.955 11.061c.536 0 .978.388 1.038.888l.007.118v4.927c0 .516-.403.941-.923 1l-.122.006H1.045c-.536 0-.978-.388-1.038-.888L0 16.994v-4.927c0-.556.468-1.006 1.045-1.006.536 0 .977.388 1.037.888l.008.118-.002 3.921H12.91v-3.921c0-.516.404-.941.923-1l.122-.006zM7.96.243l.094.088 4.722 5.028a.98.98 0 01-.074 1.42 1.076 1.076 0 01-1.382.017l-.094-.088-2.882-3.069v9.434c0 .555-.467 1.005-1.044 1.005-.536 0-.977-.388-1.038-.888l-.007-.117V3.61L3.376 6.705c-.356.381-.946.44-1.373.156L1.9 6.783a.979.979 0 01-.162-1.321l.081-.1L6.5.336A1.074 1.074 0 017.96.243z' opacity='.4'/%3E%3C/svg%3E");
        float: right;
        width: 15px;
        height: 18px;
        margin-top: 8px;
    }
    ::-webkit-file-upload-button {
        visibility: hidden;
        width: 0.1px;
        margin: 0;
        padding: 0;
    }

    .elementor-field-type-select {
        label {
            font-size: 11px;
            font-weight: 600;
            color: gray;
            top: 5px;
        }
    }

    .elementor-field-type-text, .elementor-field-type-email, .elementor-field-type-textarea, .elementor-field-type-tel, .elementor-field-type-url {
        label {
            position: absolute;
            margin: 0;
            left: 18px;
            font-size: 16px;
            top: 26px;
            transition: all ease 0.4s;
    
            &.active {
                font-size: 11px;
                font-weight: 600;
                color: gray;
                top: 5px;
            }
        }
  
        input, textarea {
            padding: 24px 14px 10px;
    
            &:focus {
                box-shadow: none;
                border-color: $primary!important;
            }
    
        }
    }
  
    .elementor-field-type-acceptance {
        margin: 20px 0;
  
        label {
            font-size: 12px!important;
            color: gray;
        }
    }
}


.facetwp-facet {
    .facetwp-checkbox {
        padding-left: 24px;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1Zm-1 1.999v16H2v-16h16Z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");

        &.checked {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0H1a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1Zm-1 1.999v16H2v-16h16Zm-1.937 4.294a1 1 0 0 0-1.414 0L9 11.94l-3.49-3.49-.094-.082a1 1 0 0 0-1.32 1.497l4.197 4.197.094.083a1 1 0 0 0 1.32-.083l6.356-6.356.083-.094a1 1 0 0 0-.083-1.32Z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
        }
    }
}


.od-slider-intro {
    .swiper-slide {
        height: 90vw!important;

        @media (min-width: $tablet-up) {
            height: 54vw!important;
        }
        @media (min-width: 1600px) {
            height: 880px!important;
        }
    }
}


.od-gallery {
    .e-gallery-image {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.od-accordion {
    .elementor-accordion-item {
        border-left: none;
        border-right: none;
    }
    .elementor-tab-content {
        border-top: none;
    }
}

.kirchenfinder {
    form {

        @media (min-width: $tablet-up) {
          display: flex;
          align-items: flex-end;
        }
    
        label {
          font-weight: 900;
        }
    
        .wpsl-input label, #wpsl-radius label, #wpsl-category label {
          width: inherit;
        }
    
        .wpsl-input {
          display: flex!important;
          align-items: center;
          margin-right: 40px!important;
          flex-wrap: wrap;
    
          @media (min-width: $tablet-up) {
            margin-bottom: 0!important;
            width: 30%!important;
          }
          @media (min-width: $desktop-up) {
            flex-wrap: nowrap;
            width: inherit!important;
          }
    
          input {
            border-radius: 0!important;
            height: 44px!important;
    
            &:focus {
              outline: none;
              border-color: $primary!important;
            }
          }
        }
    
        .wpsl-select-wrap {
          margin-right: 40px!important;
    
          @media (min-width: $tablet-up) {
            margin-bottom: 0!important;
            width: 30%!important;
          }
          @media (min-width: $desktop-up) {
            width: inherit!important;
          }
        }
    
        #wpsl-radius {
          display: flex!important;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
    
          @media (min-width: $desktop-up) {
            flex-wrap: nowrap;
          }
        }
      }


  p {
    font-size: 16px;
    line-height: 26px;
  }

  #wpsl-search-wrap .wpsl-dropdown {
    width: 100%!important;

    @media (min-width: $tablet-up) {
      width: 30%!important;
    }
    @media (min-width: $desktop-up) {
      width: inherit!important;
    }
  }

  .wpsl-dropdown {
    min-width: 200px !important;
    border-radius: 0;
    height: 44px!important;
  }
  #wpsl-result-list {
    width: 100% !important;
    min-width: 300px !important;
    margin-right: 10px;

    @media (min-width: $tablet-up) {
      width: 20% !important;
    }
  }
  #wpsl-gmap {
    width: 100%;
    min-width: 300px;
    max-width: 1500px;

    @media (min-width: $tablet-up) {
      width: 60%;
      margin-left: 10px;
    }
    @media (min-width: $desktop-up) {
      width: 70%;
      margin-left: 10px;
    }
    @media (min-width: 1600px) {
      width: 80%;
    }
  }

  #wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
    height: 320px!important;

    @media (min-width: $tablet-up) {
      height: 700px!important;
    }
  }

  #wpsl-stores {
    min-height: 300px;
  }

  #wpsl-search-input {
    width: 100%!important;

    @media (min-width: $desktop-up) {
      width: 250px!important;
    }
  }

  #wpsl-search-btn {
    background: $primary !important;
    color: #ffffff;
    height: 44px;
    padding: 0 40px;
    font-size:16px;
    font-weight: bold;
    border: 2px solid $primary;
    border-radius: 0;

    @media (max-width: $phone-down) {
      width: 100%;
    }

    &:hover {
        color: $primary;
        background-color: transparent!important;
    }
  }

  .wpsl-search-btn-wrap {
    @media (max-width: $phone-down) {
      width: 100%;
    }
  }

  #wpsl-gmap img[src*="red@2x"] {
    display: none !important;
  }

  .wpsl-search {
    padding: 20px;
  }

  .wpsl-directions{
    display: inherit !important;
  }

  .konfession , .church {
    margin: 0 0 5px 0 !important;
  }

  #wpsl-wrap #wpsl-result-list li {
    border-bottom: 1px solid $secondary;
    padding: 30px 0;

    &>span {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.elementor-widget-image-box {
  a {
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
  }
}